body{
    background-color: #20252C;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header{

    height: 20vh;
    border: 1px solid white;
}

.main{
    margin: 20px 0;
}

ul{
    list-style-type: none;
}

.summary-left{
    font-size: 1.5rem;
}


summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details {
    padding: 0.5em;

    /* border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px; */

    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border: 1px solid white;
    margin-bottom: 0.5em;
  }
  
  details[open] summary {
    border-radius: 10px;
    border-top: 3px;
    margin-bottom: 0.5em;
  }

  details ul li{
    /* margin: 10px; */
    border-top: 1px solid grey;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
     padding: 20px 0;
     background-color: rgb(31, 31, 54);
     color: rgb(155, 92, 11);
  }


.container-main{
    max-width: 800px;
    min-width: 300px;
   /*  border: 1px solid white; */
    margin: 0 auto;
}

.title-h1{
    text-align: center;
    font-size: 4rem;
}
.title-h2{
   text-align: left;
    font-size: 3rem;
}

.section-js{
    padding: 20px;
}

.parrafo{
    font-size: 1.5rem;
    font-weight: 100;
    word-spacing: 6px;
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 40px 0;
    padding: 20px 0;
}


ol>li{
    font-size: 1.5rem;
    font-weight: 100;
    word-spacing: 6px;
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 40px 0;
    padding: 20px 0;
}

.navigation{
    border: 1px solid rgb(165, 97, 13);
    margin: 10px 0;
}

img{
    border: 1px solid magenta;
}


.image-initial{
    margin-top: 20px;
    min-width: 270px;
    max-width: 700px; 
    overflow-x: auto; 

}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 15px 15px 20px rgb(0, 0, 0, 0.5);
  }



  .border{
    border: 1px solid white;
    padding: 10px;
  }

  .fondo{
    background-color: rgb(9, 2, 36);
  }

  th, td {
    border: 1px solid white;
    padding: 8px;
  }